.about {
    width: 85%;  
    margin: auto;
}

main {
    margin-bottom: 10rem;
 }

.article-content {
    position: relative;  
}

#about-photo{
    width: 100%;
    margin-bottom: 2rem;
}

button {
    position: absolute;
    right: 0;
}

@media screen and (min-width: 1000px) {
    main, #about-photo {
        width: 65%;
    }

    main {
        margin: auto auto 12rem auto;
    }

    #about-photo {
        width: -webkit-fill-available;
    }

    p {
        font-size: 18px;
    }

    button {
        width: 12rem;
    }
}

@media screen and (min-width: 1400px) {
    header,
    main {
        max-width: 1320px;
        margin: auto;
    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

/*
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}*/