main {
    margin-bottom: 5rem;
}

.blog-post {
    width: 85%;
    height: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    margin:  0 auto 2rem;
    padding: 1rem;
}

.blog-post img {
    width: 100%;
    height: auto;
}

h3 {
    font-size: 1.2rem;
    margin-top: 1rem;
    font-weight: bold;
}

@media screen and (min-width: 500px) {
    .blog-post {
        width: 60%;
    }
}

@media screen and (min-width: 700px) {
    .blog-post{
        width: 80%;
    }

    .blog-post>div {
        display: flex;
    }

    .blog-post img {
        width: 20%;
        height: auto;
        margin-right: 2rem;
    }

    h3 {
        margin-top: unset;
    }

    p{
        margin-bottom: unset;
    }
} 

@media screen and (min-width: 1000px) {
    .blog-post{
        width: 60%;
    }
}