h2 {
    margin-top: 3rem;
}

#office-photo {
    display: none;
}

#mobile-office-photo {
    height: auto;
    width: 100%;
    object-fit: cover;
}

.contact-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
}

.inner-main {
    padding: 0 1.5rem;
}

.social-container {
    justify-content: center;
   
}

.social-media-border {
    border: 1px solid var(--brownFont);
    border-radius: 50%;
    width: 2.8rem;
    height: 2.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media {
    width: 1.3rem;
    height: 1.3rem;
}

.social-wrap {
    align-items: center;
    margin: 1rem 0;
}

h6 {
    font-size: 0.9rem;
    font-family: var(--paragraphFont);
    margin-left: 1rem;
    color: #000;
    /*font-family: 'Montserrat', sans-serif;*/
}

.hr-underline {
    width: auto;
    height: 1px;
    background-color: grey;
}

.container {
    margin: 2rem 0 7rem;
}



@media screen and (min-width: 760px) {
    main>div {
        width: 65%;
        margin: auto;
    }
}

@media screen and (min-width: 1200px) {
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 4rem;
    }

    h2 {
        margin-bottom: 2rem;
    }

    #office-photo{
        height: 550px;
        width: 500px;
        margin-right: 4rem;
        display: block;
        object-fit: cover;
    }

    #mobile-office-photo {
        display: none;
    }

    main>div {
        width: 40%;
        margin: unset;
    }

    .social-container>div {
        display: flex;
    }

    .social-wrap {
        margin-right: 2rem;
    }
}

@media screen and (min-width: 1400px) {
    header,
    main {
        max-width: 1320px;
        margin: auto;
    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}