main {
    margin-bottom: 6rem;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

button {
    margin: 0 1rem 1rem;
    background-color: inherit;
    border: 1px solid var(--brownFont);
    border-radius: 10px;
    color: var(--brownFont);
    font-weight: 600;
    width: auto;
    padding: 0 1rem;
}

button:hover {
    background-color: var(--brownFont);
    border: 1px solid var(--brownFont);
    color: #fff;
}

.cloth-style {
    height: auto;
    width: 80%;
    margin: 0 auto 2rem;
}

@media screen and (min-width: 760px) {
    main {
        margin-bottom: 10rem;
    }

    .grid-container{
        gap: 30px
    }

    .cloth-style {
        height: 400px;
        width: 300px;
        margin: unset;
    } 
}