main {
    margin: 3rem 0 6rem;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery-btn {
    margin: 0 1rem 1rem;
    background-color: inherit;
    border: 1px solid var(--brownFont);
    border-radius: 8px;
    color: var(--brownFont);
    font-weight: 600;
    font-size: 15px;
    padding: 0 1rem;
    height: 2.5rem;
}

.gallery-btn:hover {
    background-color: var(--brownFont);
    border: 1px solid var(--brownFont);
    color: #fff;
}

.grid-container img {
    object-fit: cover;
    height: auto;
    width: 80%;
    margin: 0 auto 2rem;
}

.suits{
    display: none;
}

@media screen and (min-width: 560px) {
    .grid-container img {
        width: 55%;
        margin: 0 auto 2rem;
    }   
}

@media screen and (min-width: 760px) {
    main {
        margin: 5rem 0 10rem;
    }

    .grid-container{
        gap: 30px
    }

    .grid-container img {
        width: 300px;
        margin: unset;
        height: 400px;
    } 
}

@media screen and (min-width: 1200px) {
    .grid-container img {
        width: 360px;
        height: 500px;
    } 
}
