main {
    width: 85%;
    margin: auto auto 5rem auto;
}

#office-photo {
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 1000px) {
    main {
        width: 65%;
    }

    p {
        font-size: 18px;
    }
}